.center {
  display: flex;
  justify-content:center;
}
.placeOfToast{
  height: 85px;
}

#toolbar-first-element {
  flex-grow: 1;
}
.redPrice {
  color: crimson;
  margin-top: 20px;
  margin-bottom: 20px;
}